@model List<Schedule>

<div class="accordion mt-4">
    <div class="accordion-item">
        <h1 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Doctor Schedule List
            </button>
        </h1>
        <div class="container-fluid  py-2">
            <div class="row">
                <div class="col-md-12 bg-light rounded">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" aria-current="page">Doctor</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor Schedule List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
            <div class="accordion-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12 bg-light rounded">
                            <table class="table table-hover table-responsive-lg rounded" id="doctorList">
                                <thead class="thead-dark bg-primary">
                                    <tr>
                                        @*  <th scope="col">#</th>*@
                                        <th scope="col" style="text-align: center" class="text-white">Doctor Name</th>
                                        <th scope="col" style="text-align: center" class="text-white">Doctor Contact number</th>
                                        <th scope="col" style="text-align: center" class="text-white">Schedule Day</th>
                                        <th scope="col" style="text-align: center" class="text-white">Schedule time</th>
                                        <th scope="col" style="text-align: center" class="text-white">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model)
                                    {

                                        <tr>
                                            @* <th scope="row"> @number++</th>*@
                                            <td style="text-align: center">@(p.User.FullName)</td>
                                            <td style="text-align: center">@p.User.PhoneNumber</td>
                                            <td style="text-align: center">@p.dayOfWeek</td>
                                            <td style="text-align: center">@(p.startTime?.ToString("hh:mm tt") + " to " + p.endTime?.ToString("hh:mm tt"))</td>
                                            <td style="text-align: center">
                                                @*<a class="btn btn-info" asp-controller="DoctorSChedule" asp-action="details" title="Details" asp-route-Id="@p.Id">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>*@
                                                <a class="btn btn-secondary" asp-controller="DoctorSChedule" title="Update" asp-action="Update" asp-route-Id="@p.Id">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger" asp-controller="DoctorSChedule" title="Delete" asp-action="Delete" asp-route-Id="@p.Id">
                                                    <i class="fas fa-user-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@*
<H1>Schedule List</H1>

@*<a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Patient">Add Patient</a>*@
@*<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@(p.User.firstName + " " + p.User.lastName)</td>
                <td>@p.dayOfWeek</td> <td>
                <td>@(p.startTime?.ToString("hh:mm tt") + " to " + p.endTime?.ToString("hh:mm tt"))</td>
                <td>
                    <a asp-controller="Admin" asp-action="Details" asp-route-Id="@p.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                        Details
                    </a>
                    <a asp-controller="Admin" asp-action="Update" asp-route-Id="@p.Id">Edit</a>
                    <a asp-controller="Admin" asp-action="Delete" asp-route-Id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@