@model List<Schedule>

<H1>Doctor List</H1>

@*<a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Patient">Add Patient</a>*@
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@(p.User.firstName + " " + p.User.lastName)</td>
                <td>@p.dayOfWeek</td> <td>
                <td>@(p.startTime?.ToString("hh:mm tt") + " to " + p.endTime?.ToString("hh:mm tt"))</td>
                <td>
                    <a asp-controller="Admin" asp-action="Details" asp-route-Id="@p.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                        Launch Modal
                    </a>
                    <a asp-controller="Admin" asp-action="Update" asp-route-Id="@p.Id">Edit</a>
                    <a asp-controller="Admin" asp-action="Delete" asp-route-Id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>