@inject SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HCMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DataTable2/datatables.css" asp-append-version="true" />
    <script src="~/js/chart.js" asp-append-version="true"></script>

</head>

<body>
    @Html.Partial("~/Views/modal/Spinner.cshtml")
    @if (_signInManager.IsSignedIn(User))
    {
        <!-- Topbar Menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">Health Care Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white"> @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn text-white" asp-area="" data-bs-toggle="tooltip" data-bs-original-title="logout" asp-controller="Account" asp-action="logout"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid" >
            <div class="row">
            <!-- Sidebar Menu -->

                <nav class="col-md-2 d-none d-md-block bg-white sidebar" style="font-family:Bahnschrift Light">
                <div class="sidebar-sticky mt-lg-5">
                    <ul class="nav flex-column" id="nav_accordion">
                        <li class="nav-item active">
                                <a class="nav-link text-secondary"  asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>Dashboard</span>
                                </a>
                        </li>
                        <li class="nav-item has-submenu mt-3 ">
                                <a class="nav-link collapsed text-secondary" style="cursor:pointer">
                                    <i class="fas fa-user-md"></i>
                                    <span>Doctor</span>
                                </a>
                            <ul class="submenu collapse">
                                @if(User.IsInRole("Admin")){
                                        <li> <a class="nav-link text-secondary" asp-area="" asp-controller="Account" asp-action="Register"> Register doctor</a></li>
                                        <li><a class="nav-link text-secondary" asp-area="" asp-controller="Account" asp-action="Index">doctor List</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="DoctorSchedule" asp-action="DoctorScheduleList">Doctor Schedule List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="DoctorSchedule" asp-action="addDoctorSchedule">Doctor Scheduling</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a class="nav-link text-secondary" asp-area="" asp-controller="Account" asp-action="Index">My Information</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="DoctorSchedule" asp-action="DoctorScheduleList">My Schedule List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="DoctorSchedule" asp-action="addDoctorSchedule">Add Schedule</a>
                                        </li>
                                    }

                                    
                            </ul>
                        </li>
                            <li class="nav-item has-submenu mt-3">
                            <a class="nav-link text-secondary" href="#">
                                    <i class="fas fa-user-injured"></i>  <span>Patient</span>
                                </a>
                            <ul class="submenu collapse">
                                <li> <a class="nav-link text-secondary" asp-area="" asp-controller="Patient" asp-action="index">Patient</a></li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Patient" asp-action="Create">Create Patient</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="case" asp-action="create">Create Patient Case</a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a class="nav-link text-secondary" asp-area="" asp-controller="case" asp-action="Index">Patient Case List</a>
                                    </li>
                            </ul>
                        </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item has-submenu mt-3">
                                    <a class="nav-link text-secondary" href="#">
                                        <i class="fas fa-users-cog"></i> <span> Admin</span>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="AdminList">Admin List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Create">Create Admin </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-submenu mt-3">
                                    <a class="nav-link text-secondary" href="#"><i class="fas fa-calendar-alt"></i><span> Appointment</span>   </a>
                                    <ul class="submenu collapse">
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Appointment" asp-action="index">Appointment List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Appointment" asp-action="Create">Create Appointment</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-submenu mt-3">
                                    <a class="nav-link text-secondary" href="#"><i class="fas fa-book"></i><span> Doctor Specialization</span>   </a>
                                    <ul class="submenu collapse">
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Speciality" asp-action="index">Specialization List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Speciality" asp-action="Create">Create Specialization</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item has-submenu mt-3">
                                    <a class="nav-link text-secondary" href="#"> <i class="fas fa-calendar-alt"></i><span> Appointment</span>   </a>
                                    <ul class="submenu collapse">
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" asp-area="" asp-controller="Appointment" asp-action="index">My Appointment List</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4 main-content">
               @RenderBody()
            </main>
        </div>
        </div>

    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/DataTable2/datatables.min.js"></script>
    <script>
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
