@model List<Appointment>

<H1>Appointment List</H1>

@*<a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Patient">Add Patient</a>*@
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Case</th>
            <th scope="col">Day</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@(p.User.firstName + " " + p.User.lastName)</td>
                <td>@p.cases.fullcase</td>
                <td>@(p.appointmentDay + ", " + p.appointmentime)</td>
                <td>
                    <a asp-controller="Account" asp-action="Details" asp-route-Id="@p.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                        Details
                    </a>
                    <a asp-controller="Account" asp-action="Update" asp-route-Id="@p.Id">Edit</a>
                    <a asp-controller="Account" asp-action="Delete" asp-route-Id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>