@model List<ApplicationUser>

<H1>Doctor List</H1>

@*<a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Patient">Add Patient</a>*@
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Admin Name</th>
            <th scope="col">email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@(p.firstName + " " + p.lastName)</td>
                <td>@p.Email</td>
                <td>
                    <a asp-controller="Doctor" asp-action="details" asp-route-Id="@p.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                        Launch Modal
                    </a>
                    <a asp-controller="Admin" asp-action="Update" asp-route-Id="@p.Id">Edit</a>
                    <a asp-controller="Doctor" asp-action="Delete" asp-route-Id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>